<div class="relative h-screen w-full">
  <div data-controller="map" class="absolute inset-0 h-full w-full" data-maptiler-key="<%= Rails.application.credentials.dig(:maptiler, :api_key) %>"></div>
</div>
