<div class="flex flex-col items-center gap-4">
  <div>
    以下の地図を削除します。
  </div>
  <div class="text-red-500 font-bold">
    <%= @trip&.title %>
  </div>
  <div class="text-sm text-gray-400">
    ※削除すると、二度と元に戻せません。
  </div>
</div>
