<div class="mx-auto mb-4 aspect-square w-full max-w-[280px] bg-white p-2 shadow-sm">
  <%= image_tag "tutorial_step3.png", class: "h-full w-full object-cover bg-gray-100" %>
</div>

<%= render "shared/visibility_button", trip: trip %>

<%= render "shared/copy_url", trip: trip %>

<%= render "shared/share_button", trip: trip %>

<div class="text-center w-full">
  <button type="button" data-action="click->modal#close" class="rounded-full bg-[#cccaca] px-8 py-2 text-sm font-semibold text-gray-600 shadow-sm transition hover:bg-gray-400 hover:text-white">
    戻る
  </button>
</div>
