<div class="flex flex-col h-[75dvh] min-h-0">
  <!-- Slider main container -->
  <div class="swiper h-full w-full" data-controller="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper max-w-sm  h-full">
      <!-- Slides -->
      <div class="swiper-slide h-full">
        <div class="flex flex-col items-center gap-6 h-[80%] min-h-0 px-10">
          <div class="text-lg font-bold shrink-0">
            世界は白い霧の中
          </div>
          <div class="flex-1 min-h-0 w-full flex flex-col items-center pb-0 gap-6 overflow-y-auto scrollbar-modern">
            <div class="w-full min-w-0 space-y-1 leading-relaxed">
              <div class="break-words whitespace-normal">
                このアプリの地図は、最初は真っ白です。
              </div>
              <div class="break-words whitespace-normal">
                あなたの現在地以外、何も見えません。
              </div>
            </div>
            <div>
              <%= image_tag "tutorial_step1.png", class: "max-h-60 w-auto object-contain rounded-lg mx-auto" %>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide h-full">
        <div class="flex flex-col items-center gap-6 h-[80%] min-h-0 px-10">
          <div class="text-lg font-bold shrink-0">
            歩けば、霧が晴れる
          </div>
          <div class="flex-1 min-h-0 w-full flex flex-col items-center pb-0 gap-6 overflow-y-auto scrollbar-modern">
            <div>
              <div>
                地図上の「足跡ボタン」を押して歩き出しましょう。
              </div>
              <div>
                あなたの移動に合わせて霧が晴れ、そこに隠れていた街並みが現れます。
              </div>
            </div>
            <div>
              <%= image_tag "tutorial_step2.png", class: "max-h-60 w-auto object-contain rounded-lg mx-auto" %>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide h-full">
        <div class="flex flex-col items-center gap-6 h-[80%] min-h-0 px-10">
          <div class="text-lg font-bold shrink-0">
            自分だけの地図を作ろう
          </div>
          <div class="flex-1 min-h-0 w-full flex flex-col items-center pb-0 gap-6 overflow-y-auto scrollbar-modern">
            <div>
              <div>
                歩いた記録は保存して積み重ねられます。
              </div>
              <div>
                いつもの道も、まだ見ぬ場所も。
              </div>
              <div>
                さあ、冒険に出かけましょう。
              </div>
            </div>
            <div>
              <%= image_tag "tutorial_step3.png", class: "max-h-60 w-auto object-contain rounded-lg mx-auto" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination pb-10"></div>
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
