<%# バックドロップ %>
<div class="fixed inset-0 z-40 flex items-center justify-center p-0 md:p-4" data-controller="posts" data-posts-ui-outlet="#ui">

  <div class="absolute inset-0 bg-black/80 backdrop-blur-sm" data-action="click->posts#close"></div>
  <%# モーダルコンテナ %>
  <div class="bg-[#FFFBE6] z-40 w-full h-full md:h-auto md:max-h-[90vh] md:w-full md:max-w-lg md:rounded-2xl shadow-2xl overflow-hidden flex flex-col">

    <%# フォームの中身を呼ぶ %>
    <%= render "form", post: @post %>

  </div>
</div>
